/*paste Auto prefixer output here*/
/*colours i want to use 
Text colour blues and yellow inviyting and professional 
Primary colour blue
Secondary colour yellow
 */
 body{
    background: rgba(0, 91, 238, 0.657);
    /*background-image: linear-gradient(rgb(133, 141, 139), rgb(24,196,149));*/
    /*background-image: conic-gradient(rgb(194, 127, 4),rgb(2, 223, 25), rgb(213, 3, 213));*/
    font-family: 'Silkscreen', cursive;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin: 10px 15px;
  color: whitesmoke
}
h1 {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
  }
  h2 {
    font-size: 24px;
    font-weight: 700;
  }
  h3 {
    font-size: 18px;
    font-weight: 700;
  }
    
  a:visited {
    /*colour link changes too after clicking*/
    color: #357b70;
  }
  
/*how to change the position of elements use top and direction*/
.navigation__logo {
  position:absolute;
  max-width: 100%;
  height: auto;
  
}
.page-header{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
 height: 100%;
  padding: 0px;
}
.page-header__item{
  -webkit-box-flex:1;
      -ms-flex:1 1 10px;
          flex:1 1 10px
}
.page-header__item:last-child {
  -webkit-box-flex: 1px;
      -ms-flex-positive: 1px;
          flex-grow: 1px;
  text-align: right;
}

  .navigation-list{
    list-style:none;
    font-size: 18px;
    display:-webkit-inline-box;
    display:-ms-inline-flexbox;
    display:inline-flex;
  }
 /* to re align items within a class*/
  .navigation-list li{
   display: inline-block;
   margin: left 15px;
  }
  a {/* element selector*/ 
    color: rgb(255, 230, 0);
  }
  
/*Effect 20: 3D side*/
nav a 
 {
	position: relative;
	display: inline-block;
	margin: 5px 5px;
	outline: none;
	color: rgb(255, 230, 0);
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 1.35em;
}

.navigation-list a {
	line-height: 1em;
	-webkit-perspective: 800px;
	        perspective: 800px;
	text-align: center;
  display:inline-block;
}

.navigation-list a span {
	position: relative;
	display: inline-block;
	padding: 3px 5px 0;
	-webkit-box-shadow: inset 0 3px rgb(255, 230, 0);
	        box-shadow: inset 0 3px rgb(255, 230, 0);
/*	transform-origin: 50% 0;
	transform-style: preserve-3d;
	transform-origin: 0% 50%;*/
}

.navigation-list a ::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000;
	color: whitesmoke;
	content: attr(data-hover);
	-webkit-transform: rotateX(270deg);
	        transform: rotateX(270deg);
	-webkit-transition: -webkit-transform 0.6s;
	transition: -webkit-transform 0.6s;
	-o-transition: transform 0.6s;
	transition: transform 0.6s;
	transition: transform 0.6s, -webkit-transform 0.6s;
	-webkit-transform-origin: 0 0;
	    -ms-transform-origin: 0 0;
	        transform-origin: 0 0;
	pointer-events: none;
}

.navigation-list a:hover span {
	background: #357b70;
}

.navigation-list a:focus span {
	background: #357b70;
}

.main-navigation a:hover ::before,
.main-navigation a:focus ::after{	
	-webkit-transform: rotateX(1deg);	
	        transform: rotateX(1deg);
}

.navigation-list__item--active {
  text-decoration: none;
  color:purple;
}
  
  p{
  padding: 0px;
  margin: 1 auto;
  text-align: center;

}
.contact-main{
  text-align: center;
}
table{
  padding: 10px;
  margin: auto;
  border: 10px solid rgba(0, 91, 238, 0.657);
  background-color: rgba(0, 91, 238, 0.657);
  text-align: center;
}
.article {
  display: block;
}

.article__graphic--inline {
  display: inline-block;
}

.profile__portrait{
  float:left;
  width: 40%;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 10px;
}
/*not working*/

.profile {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 10%;
}
/*"*" is the universal html selector apllies to all*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*to  prevent the page footer being effected by the float image*/
.page__footer{
  clear: both;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  padding:40px;
  margin: 10px -15px;
  border: 0px solid rgba(0, 91, 238, 0.657);
  background-color: rgba(0, 91, 238, 0.657);
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
  @media all and (max-width: 500px) {
    .grid{
      display: -ms-grid;
      display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 10px;
    }
    .grid__item{
      background-color: rgba(0, 91, 238, 0.657);
    padding: 10px;
    }
    h2 {
      font-size: 22px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
      }
      @media all and (min-width: 500px) and (max-width: 750px) {
        .grid{
          display: -ms-grid;
          display: grid;
        -ms-grid-columns: 1fr 10px 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        /*only need to specify oneof the two to make the grid more flexible
        grid-template-rows: 300px 300px;*/
        }
        .grid__item{
          background-color: rgba(0, 91, 238, 0.657);
        padding: 10px;
        }
        h2 {
          font-size: 22px;
        }
        .grid__item:last-child {
          grid-column: auto / auto;
          grid-row: auto / auto;
        }
      }
      @media all and (max-width: 500px){
        .grid{
          display: -ms-grid;
          display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        gap: 10px;
        }
        .grid__item{
          background-color: rgba(0, 91, 238, 0.657);
        padding: 10px;
        }
        h2 {
          font-size: 22px;
        }
        .grid__item:last-child {
          grid-column: auto / auto;
          grid-row: auto / auto;
        }
      }
  @media all and (min-width: 750px) and (max-width: 1500px) {
    .grid{
      display: -ms-grid;
      display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    /*only need to specify oneof the two to make the grid more flexible
    grid-template-rows: 300px 300px;*/
    }
    .grid__item{
      background-color: rgba(0, 91, 238, 0.657);
    padding: 10px;
    }
    h2 {
      font-size: 22px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
  }
  .button {
      /* overwrites browser defaults and resets the border */
    border: none;
    display: inline-block;
    /* takes the font from the outer container.
     is this needed as this is explicit for the body elements?*/
  font-family: inherit;
  background-color: #357b70;
  color:rgb(255, 230, 0);
  text-decoration: none;
  padding: 10px;
  margin:5px;
  border-radius: 50px;
  /* width of the border, type, color */
  border-bottom: 3px solid #000000;
  /* can combine 
  transition-duration: 1.5s;
  transition-property: opacity;*/
  -webkit-transition: 1.5s opacity;
  -o-transition: 1.5s opacity;
  transition: 1.5s opacity;
}
  .button:hover {
   /* lets the mouse appear as a hand when hovering over the button */
   cursor: pointer;
   /* reduces the opacity of the button to 80% colours purple*/
   background-color: purple;
   opacity: 0.5;
  }
  .button:focus {
   /* lets the mouse appear as a hand when hovering over the button */
   cursor: pointer;
   /* reduces the opacity of the button to 80% colours purple*/
   background-color: purple;
   opacity: 0.5;
  }
 
  .about-list{
    list-style: none;
    text-align: center;
     padding: 10px;
  }
  .button{
   position:relative;
   top: 50%;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
           transform: translate(-50%, -50%);
  }
  @-webkit-keyframes color-change {
    /*from = 0% to = 100% 
    from {
      fill: #edc655;
    }
    to {
      fill: #f76414;
    }*/
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76414;
    }
  }
  @keyframes color-change {
    /*from = 0% to = 100% 
    from {
      fill: #edc655;
    }
    to {
      fill: #f76414;
    }*/
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76414;
    }
  }
  .sun{
    /*= to the single line order
    animation-duration: 3s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;*/
    -webkit-animation: 3s color-change infinite alternate linear;
            animation: 3s color-change infinite alternate linear;
  }
  @-webkit-keyframes move-cloud{
    from {
      -webkit-transform: translate(0, 50px);
              transform: translate(0, 50px);
    }
    50%{
      -webkit-transform: rotate(10deg);
              transform: rotate(10deg);
    }
    to {
      -webkit-transform: translate(200px, 50px);
              transform: translate(200px, 50px);
    }
  }
  @keyframes move-cloud{
    from {
      -webkit-transform: translate(0, 50px);
              transform: translate(0, 50px);
    }
    50%{
      -webkit-transform: rotate(10deg);
              transform: rotate(10deg);
    }
    to {
      -webkit-transform: translate(200px, 50px);
              transform: translate(200px, 50px);
    }
  }

  .cloud-front{
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-name: move-cloud;
            animation-name: move-cloud;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  /*Or the short way:
  .cloud-front {
    animation: 3s cloud-move infinite alternate linear;*/
    @-webkit-keyframes move-cloud-reverse {
      0% {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
      }
50%{
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}
      100% {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
      }
    }
    @keyframes move-cloud-reverse {
      0% {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
      }
50%{
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}
      100% {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
      }
    }
    .cloud-back {
      -webkit-animation: 5s move-cloud-reverse infinite alternate linear;
              animation: 5s move-cloud-reverse infinite alternate linear;
    }